<nav class="navbar-default navbar-static-side" role="navigation">

    <div class="sidebar-collapse">

        <ul class="nav" id="side-menu">

            {% set route = app.request.attributes.get('_route') %}

            <li class="{% if route=='requirement_index' %}active{% endif %}"><a href="{{ path('requirement_index') }}"><i class="fa fa-star"></i> <span class="nav-label">Requirements</span></a></li>

            <li class="{% if route=='issue_index' %}active{% endif %}"><a href="{{ path('issue_index') }}"><i class="fa fa-tags"></i> <span class="nav-label">Issues</span></a></li>

            <li class="{% if route=='changelog_index' %}active{% endif %}"><a href="{{ path('changelog_index') }}"><i class="fa fa-check-square"></i> <span class="nav-label">Changelogs</span></a></li>

            <li>
                <a href="#"><i class="fa fa-bell"></i> <span class="nav-label">Auditoria</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse in">
                    <li class="{% if route== 'notify_index' %}active{% endif %}"><a href="{{ path('notify_index') }}">Notificaciones</a></li>
                    <li class="{% if route== 'databaseaudit' %}active{% endif %}"><a href="{{ path('databaseaudit') }}">DB Audit</a></li>
                    <li class="{% if route== 'log' %}active{% endif %}"><a href="{{ path('log') }}">Log Audit</a></li>
                </ul>
            </li>

            <li class="{% if route=='user_index' %}active{% endif %}"><a href="{{ path('user_index') }}"><i class="fa fa-user"></i> <span class="nav-label">Users</span></a></li>

            <li class="{% if route== 'easyadmin' %}active{% endif %}"><a href="{{ path('easyadmin') }}"><i class="fa fa-th-large"></i> <span class="nav-label">Nomencladores</span></a></li>

            <li class="{% if route=='issues' %}active{% endif %}"><a href="{{ path('issues') }}"><i class="fa fa-tags"></i> <span class="nav-label">Issues 2</span></a></li>

        </ul>

    </div>

</nav>