{% extends 'base.html.twig' %}

{% block headers %}Edit Issue:<b> {{ issue }} </b> {% endblock %}

{% block headers_links %}
    <a class="btn btn-xs" href="{{ path('issue_show', {'id':issue.id}) }}"><i class="fa fa-edit"></i> Show</a>
    <a class="btn btn-info btn-xs" href="{{ path('issue_index') }}"><i class="fa fa-mail-reply-all"></i> Issues List</a>
    <a class="btn btn-primary btn-xs" href="{{ path('issue_new') }}"><i class="fa fa-plus"></i> New Issue</a>

{% endblock %}

{% block content %}

    <div class="wrapper wrapper-content">
        <div class="row">

            <div class="col-md-12">

                <div class="ibox float-e-margins">
                   {# <div class="ibox-title">
                        <h5>Edit Issue</h5>
                    </div>#}
                    <div id="ibox_form" class="ibox-content">
                        <div id="emsg" class="alert alert-danger" style="display: none;">
                            <span id="emsgbody"></span>
                        </div>

                        {% include 'issue/_form.html.twig' with {'form': edit_form, 'action_type' : 'button.edit'} %}


                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/select2/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css') }}" />
{% endblock %}


{% block javascripts %}

    {{ tinymce_init() }}

    <script src="{{ asset('assets/vendor/select2/js/select2.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/select2/js/i18n/spanish.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/moment/locale/es.js') }}"></script>
    <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js') }}"></script>

    <script type="text/javascript">
        $(function() {

            $('.select2personal').select2({
                theme: "bootstrap"
            });

            $('.datetimepicker').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY',
                widgetPositioning: {
                    horizontal: 'left',
                    vertical: 'bottom'
                },
                useCurrent: false
            });

            var mySlider = $("input#appbundle_issue_type_progress").bootstrapSlider({max:100});


            $('#appbundle_issue_type_receivedAt').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY HH:mm',
                widgetPositioning: {
                    horizontal: 'auto',
                    vertical: 'auto'
                },
                useCurrent: true
            });

            $('#appbundle_issue_type_tags').select2({
                tags: true,
                tokenSeparators: [','],
                theme: "bootstrap"
            });

            // Handling the modal confirmation message.
            $(document).on('submit', 'form[data-confirmation]', function (event) {
                var $form = $(this),
                    $confirm = $('#confirmationModal');

                if ($confirm.data('result') !== 'yes') {
                    //cancel submit event
                    event.preventDefault();

                    $confirm
                        .off('click', '#btnYes')
                        .on('click', '#btnYes', function () {
                            $confirm.data('result', 'yes');
                            $form.find('input[type="submit"]').attr('disabled', 'disabled');
                            $form.submit();
                        })
                        .modal('show');
                }
            });

        });
    </script>

{% endblock %}