{% extends 'base.html.twig' %}

{% use 'frontend/cargaselectiva/cargar_assets_01.html.twig' %}

{% block title %} IssueTracker | Issues{% endblock %}

{% block headers %}Issues List{% endblock %}

{% block headers_links %}
    <a class="btn btn-info btn-xs" href="{{ path('issue_new') }}"><i class="fa fa-plus-square"></i> Add Issue</a>
{% endblock %}
          {#success,danger,warning,info#}
        {% set statusStyle = {
        'RECIBIDO': {
        'class' : 'danger'
        },
        'EN PROCESO': {
        'class' : 'info'
        },
        'EN DUDA': {
        'class' : 'warning'
        },
        'IMPLEMENTADO': {
        'class' : 'success'
        },
        'ACTUALIZADO': {
        'class' : 'success'
        },
        'TERMINADO': {
        'class' : 'success'
        },
            'FINALIZADO': {
                'class' : 'success'
            },
        '': {
        'class' : ''
        }
        } %}

{% block content %}

    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-bordered table-hover sys_table" id="datatable_2">
                        <thead>
                        <tr>
                                <th>Number</th>
                                <th>Title</th>
                                <th>Date</th>
                                <th>Req.</th>
                                <th>Category</th>
                                <th>Priority</th>
                                <th>Status</th>
                                <th>Type</th>
                                <th class="col-md-2"></th>
                        </tr>
                        </thead>
                        <tbody>


                                    {% for entity in entities %}

                                                        <tr class="{{ statusStyle[entity.status.name].class }}">
                                                            <td><a href="{{ path('issue_show', { 'id': entity.id }) }}">{{ entity.number }}</td>
                                                            <td>{{ entity.title }}</td>
                                                            <td>{{ entity.receivedAt ? entity.receivedAt | date('d/m/Y') : '-' }}</td>
                                                            <td>{% if entity.requirement %}
                                                                <a href="{{ path('requirement_show', { 'id': entity.requirement.id }) }}">{{ entity.requirement.number }}
                                                                    {% else %} - {% endif %}
                                                            </td>
                                                            <td>{{ entity.category }}</td>
                                                            <td>{{ entity.priority }}</td>
                                                            <td>{{ entity.status }}</td>
                                                            <td>{{ entity.type }}</td>
                                                            <td align="center">
                                                                <div>
                                                                        <a href="{{ path('issue_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-xs" title="{{'button.edit'|trans}}" style="margin-right: 1%; margin-bottom: 1%">
                                                                            <i class="fa fa-edit"></i> Edit
                                                                        </a>
                                                                </div>
                                                            </td>
                                    </tr>

                                    {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


{% endblock %}