{% trans_default_domain 'FOSUserBundle' %}

<div class="login-box">


        <div class="login-brand text-center">
            <h3> Change Pasword</h3>
            <h3 class="login-box-msg">User: {{ app.user.username }}</h3>
        </div>

        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

        {{ form_widget(form) }}

        <div class="row">
            <!-- /.col -->
            <div class="col-xs-12">
                <button type="submit" id="_submit" class="btn btn-primary btn-block btn-flat">
                    {{ 'change_password.submit'|trans }}</button>
            </div>
            <!-- /.col -->
        </div>

        {{ form_end(form) }}


    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
