{% extends 'base.html.twig' %}

{% use 'frontend/cargaselectiva/cargar_assets_01.html.twig' %}

{% block title %} IssueTracker | Usuarios{% endblock %}

{% block headers %}Listado de Usuarios{% endblock %}

{% block headers_links %}
    <a href="{{ path('user_new' )}}" class="btn btn-primary btn-xs" title="{{'button.new'|trans}}" style="margin-bottom: 8px">
        <i class="fa fa-plus-square"></i> Add User
    </a>
{% endblock %}

{% block content %}


    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-bordered table-hover sys_table" id="datatable_2">
                        <thead>
                        <tr>
                               <th>Usuario</th>
                                <th>EMail</th>

                                <th>Tipo de Usuario</th>
                                <th>Ultimo Login</th>

                                <th>Activo</th>
                                <th class="col-md-2"></th>
                        </tr>
                        </thead>
                        <tbody>


                                    {% for entity in users %}

                                                        <tr>
                                                            <td><a href="{{ path('user_edit', { 'id': entity.id }) }}">{{ entity.getUsername }}</td>
                                                            <td>{{ entity.getEmail }}</td>
                                                            <td>{{ entity.rolTraducido }}</td>
                                                            <td>{% if entity.getLastLogin is not null %}{{ entity.getLastLogin.format('Y-m-d H:i') }}{% endif %}</td>

                                                            <td>{% if entity.enabled %}Si{% else %}No{% endif %}</td>
                                                            <td align="center">
                                                                <div>
                                                                    <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-xs" title="{{'button.edit'|trans}}" style="margin-right: 1%; margin-bottom: 1%">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        </div>
                                    </td>
                                    </tr>

                                    {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


{% endblock %}